{% extends 'base.html.twig' %}

{% block title %}Interface d'administration Apel STDA{% endblock %}
{% block body %}
<div class="d-flex justify-content-center flex-column align-items-center" id="login">
<form action="" method="post">
<h2 class="mb-3 text-center">Interface d'administration Apel STDA</h2>
            <div class="form-group"><input type="email" class="form-control"  placeholder="adresse email" name="_username"><input type="password" class="form-control" placeholder="password" name="_password"></div>
       
            <button type="submit" class="btn btn-primary float-right">connexion</button>
       
        </form>
</div>    
{% endblock %}